#container {
    margin-left: 250px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 50px;
    border-left: 1px solid #e7e7e7;
    background-color: white;
}

.btn:focus {
    outline: none;
}

.center-cropped {
  width: 530px;
  height: 530px;
  background-position: center center;
  background-repeat: no-repeat;
}

.wmf-multiselect {
    padding-bottom: 6px;
}

.modal-open {
    overflow: scroll;
}

.wmf-modal .well {
    margin-bottom: 0px;
}

.wmf-modal .text {
    padding-top: 4px;
}

.wmf-modal label {
    font-weight: normal;
}

.wmf-modal form a {
    opacity: .65;
} 

.wmf-modal fieldset[disabled="disabled"] form a {
    opacity: .25;
    background: gray;
    border-color: gray;
} 

.wmf-modal fieldset[disabled="disabled"] i.chevron-down {
    opacity: .25;
    color: gray;
}

.wmf-modal .panel-footer {
    text-align: right;
} 

.wmf-modal textarea {
    resize: none;
}

.activity-modal label {
    margin-top: 7px;
}

.activity-modal .form-group {
    margin-bottom: 5px;
    padding-right: 15px;
}

.wmf-modal .panel-footer .form-group {
    margin-bottom: 0px;
}

.wmf-modal .pane-footer .btn {
    margin-top: 0px;
}

#timeline .form-btn {
    margin-top: 10px;
}

#timeline .form-group {
    text-align: right;
    margin-bottom: 0px;
}

#timeline .btn-link {
    padding: 3px;
}

#timeline-panel .panel-footer .btn {
    margin-top: 10px;
}

#touch-irrigation:focus {
    outline: none;
    background-color: #fff;
}

#notifications .dropdown-menu {
    margin-bottom: 50px;
}

#nav-sidebar .section {
    padding-left: 10px;
    font-weight: bold;
    margin-top: 15px;
    font-size: 15px;
}

#nav-sidebar li a {
    padding-left: 20px;
    cursor: pointer;
    
}#nav-sidebar li a div{
    padding-left: 5px;
}

#nav-sidebar li a.selected {
    text-decoration: none;
    background-color: #eee;
}

#nav-sidebar .button-container {
    margin-top: 10px;
    border-bottom: none;
}

#nav-sidebar button {
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 40px;
}