<div class="modal-header">
    <h3 class="modal-title">
        Light Schedule
    </h3> 
</div>
<div class="modal-body activity-modal">
    <form name="login">
        <div class="form-group row">
          <label for="example-text-input" class="col-sm-6 col-form-label">Day Duration</label>
          <div class="col-sm-6 input-group">
            <input class="form-control" type="text"
                   ng-model="activity.configuration[5002]">
            <div class="input-group-addon">mins</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="example-text-input" class="col-sm-6 col-form-label">Night Duration</label>
          <div class="col-sm-6 input-group">
            <input class="form-control" type="text"
                   ng-model="activity.configuration[5003]">
            <div class="input-group-addon">mins</div>
          </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="apply()">Apply</button>
</div>