<div id="components" class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-cogs fa-fw"></i>
        Components
    </div>
    <div class="panel-body">
        <fieldset ng-disabled="!enabled">
            <div class="list-group-item" ng-repeat="component in components"> 

                <div class="row">
                    <div class="col-sm-4">
                        <div class="name">
                            {{component.name}}
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="switch-toggle well">
                            <form>
                                
                                <input id="{{component.id + '-off'}}" 
                                       name="{{ component.id + '-state-d'}}" type="radio" 
                                       value="off" ng-model="component.state">
                                
                                <label for="{{component.id + '-off'}}" onclick="">Off</label>

                                <input id="{{component.id + '-na'}}" 
                                       name="{{ component.id + '-state-d'}}" 
                                       type="radio" value="auto" checked="checked" 
                                       ng-model="component.state">
                                
                                <label for="{{component.id + '-na'}}" onclick="">Auto</label>

                                <input id="{{component.id + '-on'}}" 
                                       name="{{ component.id + '-state-d'}}" type="radio" 
                                       value="on" ng-model="component.state">
                                
                                <label for="{{component.id + '-on'}}" onclick="">On</label>

                                <a class="btn btn-primary"></a>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="panel-footer">
        <button ng-show="enabled" type="button" class="btn btn-secondary" ng-click="cancel()">Cancel</button>
        <button ng-show="enabled" type="button" class="btn btn-primary" ng-click="save()">Save</button>
        <button ng-show="!enabled" type="button" class="btn btn-primary" ng-click="edit()">Edit</button>
    </div>
</div>