<div id="timeline-panel" class="panel panel-default wmf-modal">
    <div class="panel-heading">
      <i class="fa fa-newspaper-o fa-fw"></i>
      Journal
      <i ng-show="loading" class="pull-right fa fa-spinner fa-spin fa-fw"></i>
    </div>
    <div class="panel-body">
      <div id="timeline">
         <div class="row timeline-movement" ng-repeat="entry in journal">
            <div class="timeline-badge" ng-show="entry.show">
               <span class="timeline-balloon-date-day">{{ entry.date | date: "dd" }}</span>
               <span class="timeline-balloon-date-month">{{ entry.date | date: "MMM" }}</span>
            </div>
            <div class="col-sm-12  timeline-item">
               <div class="row">
                  <div class="col-sm-offset-1 col-sm-11">
                     <div class="timeline-panel debits">
                        <ul class="timeline-panel-ul">
                           <li>
                              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 
                                    {{ entry.date | date: "MMM dd, yyyy  hh:mm a" }}
                                    <i class="pull-right fa fa-trash-o fa-fw"></i>
                                    <i class="pull-right fa fa-pencil fa-fw"></i>
                                  </small>
                              </p>
                           </li>
                           <li>
                              <span class="causale">
                                  {{entry.text}}
                              </span> 
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
      </div>
     </div>
    </div>
    <div class="panel-footer">
      <div class="form-group">
        <textarea class="form-control" rows="5" ng-model="newEntry"></textarea>
        <button type="button" class="btn btn-primary" ng-click="submit()">Submit</button>
      </div>
    </div>
</div>