<script type="text/ng-template" id="notifications_popover.html">
    <div class="uib-popover-popup">fuck</div>
</script>


<div id="notifications" class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-cogs fa-fw"></i>
        Notifications
        <i ng-show="loading" class="pull-right fa fa-spinner fa-spin fa-fw"></i>
    </div>
    <div class="panel-body">
        
        <div class="wmf-multiselect">
            <multiselect ng-model="selection" options="options" id-prop="id" display-prop="name" show-select-all="true" show-unselect-all="true"></multiselect>
        </div>
        
        <div class="list-group">
            <div class="list-group-item" 
                 ng-repeat="n in notifications.filtered
                    | limitTo:notifications.pageLength:notifications.curPage
                    track by $index"
                ng-class="{'first': $first, 'last': $last}">
                
                <i ng-class="(n.value == 0) ?
                    'text-muted': 
                    'text-primary'" 
                    class="fa fa-power-off fa-fw">    
                </i> 
                &nbsp&nbsp&nbsp&nbsp {{n.name}}
                {{n.value == 1 ? 'On' : 'Off'}}
                <span class="pull-right text-muted"><em>{{n.date | date : 'MMM d, h:mm a'}}</em>
                </span>
                
            </div>
        </div>
        
        <a ng-click="notifications.newer()" class="btn btn-default btn-block">Newer</a>
        <a ng-click="notifications.older()" class="btn btn-default btn-block">Older</a>
        
    </div>
</div>